*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    background-color: #303030;
}

#search-btn{
    background-color: #e8631c;
    border: 0px;
}
#search-btn:hover{
    background-color: darkgreen;
    transition: ease-in-out.3s;
}
.hero-part{
    background: url(../img/man.png) no-repeat center;
    background-size: cover;
   color: #fff;
   padding: 250px 0px 30px;
}
#sub-btn{
    background-color: #e8631c;
    border: 0px;
}
#sub-btn:hover{
    background-color: darkgreen;
    transition: ease-in-out.3s;
}
.hero-part h1{
    font-size: 50px;
}
#tour{
    background: url(../img/2nd-bg.png) no-repeat center;
    background-size: cover;
}
.tour-writing-part h1{
    font-size: 50px;
}
.card{
    background-color: #303030;
}
#pricing{
    background: url(../img/design1.png) no-repeat center;
    background-size: cover;
}
.pricing-writing-part h1{
    font-size: 50px;
}
.card2{
    background-color: #e8631c;
}
#cost{
    background-color: #303030;
}
#cost:hover{
    background-color: darkgreen;
}
.style{
    background: url(../img/bg6.png) no-repeat center;
    background-size: cover;
}
#our{
    background-color: #303030;
}
#simon{
    background: url(../img/img2.png) no-repeat center;
    background-size: cover;
}
